.button_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.button {
    height: 75px;
    width: 75px;
    margin: 3px;
    background-color: rgb(175, 241, 241); 
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
}

.button:hover {
    border-radius: 1rem;
}

.special {
    background-color: rgb(3, 223, 47); 
}

