body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}
.apna-container
{
  height: 100vh;
  width: 100%;
  display: flex;
}

.content
{
  height: 100vh;
  width: 100%;
  flex-direction: column;
}


.main_content
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.post-card
{
  margin:20px 50px;
  cursor: pointer;
}
.badge
{
  margin:0 3px ;
}
.likes
{
  margin-top: 10px;
}
.form-continer
{
  width: 60%;
  margin-left: 13rem;
  margin-top: 2rem;
}
.welcomemsg
{
  height:40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}