body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}
.apna-container
{
  height: 100vh;
  width: 100%;
  display: flex;
}
.content
{
  height: 100vh;
  width: 100%;
  flex-direction: column;
  /* justify-content: space-around ; */
}